.experience{
    // min-height: 100vh;
    min-height:810px;
    position: relative;
    &__title{
        color: #2d6870;
        text-align: center;
        font-size: 55px;
        padding-top: 3%;
        font-family: 'Gotham Pro';
        font-weight: 900;
    }
    &__container{
        width: 80%;
        margin: auto;
        height: 80vh;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        
    }
    &__item{
        width: 40%;
        height: 400px;
        width: 45%;
        min-height: 90%;
    }
    &__photo{
        width: 100%;
        height: 80%;
        position: relative;
        &_1{
            background: url('../../img/experience/mts.png');
        }
        &_2{
            background: url('../../img/experience/weekend.png');
        }
        &_3{
            background: url('../../img/experience/demo.png');
        }
        &_4{
            background: url('../../img/experience/agile.png');
        }
    }
    &__star{
        position: absolute;
        top: -7%;
        left: -7%;
        z-index: -1;
    }
    &__link{
        margin-top: 6%;
        font-size: 30px;
        width: 75%;
        display: block;
        color: #000;
        text-decoration: none;
        font-family: 'Gotham Pro';
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
    &__bg{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 1200px){
    .experience{
        &__link{
            font-size: 23px;
        }
    }
}

@media (max-width: 992px){
    .experience{

        &__title{
            font-size: 45px;
            padding-top: 9%;
        }
        &__link{
            font-size: 18px;
        }
    }
}

@media (max-width: 768px){
    .experience{
        min-height: 200vh;
        &__container{
            height: 160vh;
        }
        &__title{
            font-size: 45px;
            padding-top: 9%;
        }
        &__item{
            width: 100%;
            height: 55%;
        }
        &__photo{
            height: 520px;
            background-size: cover;
        }
        &__link{
            font-size: 29px;
        }

    }
}

@media (max-width: 576px){
    .experience{
        min-height: 175vh;
        max-height: 200vh;
        &__container{
            height: 170vh;
            z-index: 2;
        }
        &__title{
            font-size: 36px;
            padding-top: 9%;
        }
        &__item{
            width: 100%;
            height: 38%;
            margin-top: 30px;
        }
        &__photo{
            height: 400px;
            background-size: cover;
        }
        &__link{
            font-size: 21px;
        }

    }
}