.experience{
    min-height: 910px;
    position: relative;
    overflow: hidden;
    &__title{
        color: #2d6870;
        text-align: center;
        font-size: 55px;
        padding-top: 3%;
        // font-family: 'Gotham Pro';
        font-weight: 900;
    }
    &__container{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position:  relative !important;
        top: 0 !important;
        @media screen and (min-width: 993px){
            height: 80vh;
        }
        &_2{
            @media screen and (min-width: 993px){
                padding-top: 50px;
            }
        }
        &_3{
            min-height: 810px;
        }
        
    }
    &__item{
        width: 40%;
        height: 625px;
        width: 45%;
        min-height: 100%;
        &_left{
            &_3{
                display: flex;
                width: 100%;
            }
        }
    }
    &__photo{
        // width: 100%;
        width: 450px;
        min-height: 500px;
        // height: 80%;
        position: relative;
        &_1{
            background-size: cover;
            background: url('../../img/experience/mts.png');
            @media screen and (min-width: 993px){
                background-repeat: no-repeat;
            }
        }
        &_2{
            background-size: cover;
            background: url('../../img/experience/weekend.png');
        }
        &_3{
            background-size: cover;
            background: url('../../img/experience/demo.png');
        }
        &_4{
            background-size: cover;
            background: url('../../img/experience/agile.png');
        }
        &_5{
            background-size: contain;
            // background-repeat: no-repeat;
            background: url('../../img/experience/heart.png');
            background-repeat: no-repeat !important;
            // width: 58%;
            width: 700px;
        min-height: 800px;
        }
    }
    &__star{
        position: absolute;
        // top: -6%;
        // left: -7%;
        top: -34px;
        left: -35px;
        z-index: -1;
        &_low{
            // top: -6%;
            top: -33px;
            left: -35px;
        }
        &_lower{
            // top: -3%;
            // left: -6%;
            top: -33px;
            left: -35px;
        }
    }
    &__link{
        margin-top: 6%;
        font-size: 30px;
        width: 75%;
        display: block;
        color: #000;
        text-decoration: none;
        // font-family: 'Gotham Pro';
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
        &_no{
            text-decoration: none !important;
            &:hover{
                text-decoration: none !important;
            }
        }
        &_lower{
            // font-size: 22px;
            // height: 80px;
            font-size: 30px;
height: 145px;
padding-top: 6px;
            @media screen and (min-width:993px){
                margin-left: 20px;
            }
        }
    }
    &__bg{
        position: absolute;
        bottom: 0;
        right: 0;
        &_3{
            bottom: 15%;
        }
    }
    &_low{
        margin-top: 80px;
        min-height: 690px;
    }
    &_lower{
        padding-top: 50px;
    }
}

@media (max-width: 1200px){
    .experience{
        &__link{
            font-size: 23px;
        }
    }
}

@media (max-width: 992px){
    .experience{

        &__title{
            font-size: 45px;
            padding-top: 9%;
        }
        &__link{
            font-size: 18px;
        }
    }
}

@media (max-width: 768px){
    .experience{
        min-height: 1500px;
        &__container{
            min-height: 1420px;
            margin: auto;
        }
        &__title{
            font-size: 45px;
            padding-top: 9%;
        }
        &__item{
            width: 100%;
            min-height: 720px;
            &_left{
                &_3{
                    display: block;
                    width: 100%;
                }
            }
        }
        &__star{
            &_lower{
                top: -10%;
                left: -5%;
            }
        }
        
        &__photo{
            height: 520px;
            background-size: cover;
        }
        &__link{
            font-size: 29px;
            &_lower{
                padding-left: 45px !important;
            }
        }
        &_lower{
            padding-top: 0;
            min-height: 590px;
            // padding-left: 45px;
        }

    }
}

@media (max-width: 576px){
    .experience{
        min-height: 1190px;
        &__container{
            width: 100%;
            min-height: 1000px;
            z-index: 2;
            &_3{
                min-height: 590px;
            }
        }
        &__title{
            font-size: 36px;
            padding-top: 9%;
        }
        &__item{
            width: 100%;
            height: initial;
            margin-top: 30px;
            min-height: initial;
        }
        &__photo{
            margin-top: 40px;
            background-size: contain;
            min-height: 334px;
            max-height: 336px;
            margin-left: 20px;
            &_1{
                background-size: contain;
                background-repeat: no-repeat;
            }
            &_2{
                background-size: contain;
                background-repeat: no-repeat;
            }
            &_3{
                background-size: contain;
                background-repeat: no-repeat;
            }
            &_4{
                background-size: contain;
                background-repeat: no-repeat;
            }
            &_5{
                margin-left: 45px;
            }
        }
        &__link{
            font-size: 21px;
            padding-left: 20px;
        }
        &_low{
            // min-height: 1120px;
            margin-top: 0;
            min-height: 1035px;
        }
        &_lower{
            padding-top: 0;
            min-height: 590px;
        }
        &__bg{
            display: none;
        }

    }
}
