.hero{
    // min-height: 100vh;
    min-height:810px;
    width: 100%;
    &__logo{
        margin: auto;
        display: block;
        margin-top: 5%;
        width: 75%;
    }
    &__title{
        font-size: 55px;
        font-family: 'Gotham Pro';
        text-transform: uppercase;
        color: #2d6870;
        width: 50%;
        font-weight: bolder;
        padding-left: 46%;
        margin: auto;
    }
    &__list{
        list-style-type: none;
        
        span{
            display: block;
        }
        &-title{
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Gotham Pro';
            color: #2d6870;
        }
        &-label{
            font-size: 25px;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            width: 490px;
        }
        li{
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            img{
                width: 100px;
                height: 100px;
            }
            div{
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 992px){
    .hero{
        &__title{
            font-size: 38px;
        }
        &__list{
            margin-top: 100px;
        }
        &__list{
            &-title{
                font-size: 25px;
            }
            &-label{
                font-size: 21px;
            }
        }
    }
}

@media (max-width: 768px){
    .hero{
        &__title{
            margin-top: 15px;
            font-size: 30px;
        }
        &__list{
            margin-top: 100px;
        }
        &__list{
            margin-top: 200px;
            padding-left: 0;
            &-title{
                font-size: 23px;
            }
            &-label{
                font-size: 17px;
            }
            li{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}

@media (max-width: 576px){
    .hero{
        &__title{
            margin-top: 15px;
            font-size: 23px;
            text-align: center;
            padding-left: 0;
            width: 70%;
        }
        &__list{
            margin-top: 100px;
        }
        &__list{
            margin-top: 200px;
            padding-left: 0;
            &-title{
                font-size: 22px;
            }
            &-label{
                margin-top: 5px;
                font-size: 15px;
                width: 255px;
            }
            li{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}