.modal{
    width: 100%;
    min-height: 100vh;
    background: rgba($color: #000000, $alpha: .4);
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        width: 728px;
        height: 690px;
    }
}