.team{
    min-height:810px;
    position: relative;
    &__title{
        width: 70%;
        padding-left: 10%;
        margin-top: -4px;
        height: 250px;
        color: rgb(0,98,113);
        background: none !important;
        display: flex;
        display: flex;
        flex-wrap: wrap;
        height: 194px;
        span{
            color: inherit;
            display: block;
            max-height: 50px;
            margin-left: 15px;
        }

    }
    &__list{
        position: absolute;
        bottom: 20%;
        list-style-type: none;
        z-index: 3;
        li{
            display: flex;
            align-items: center;
            padding-left: 15px;
            font-size: 26px;
            font-family: 'Gotham Pro';
            font-weight: 500;
            color: black;
            &::before{
                content: url('../../img/team/star.png');
                margin-right: 10px;
            }
        }
    }
    &__rocket{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    &__one{
        animation-delay: 0ms;
    }
    &__two{
        animation-delay: 100ms;
        // margin-left: 15px;
        width: 55%;
    }
    &__three{
        animation-delay: 200ms;
    }
    &__four{
        
        animation-delay: 300ms;
    }
    &__five{
        animation-delay: 400ms;
    }
    &__six{
        animation-delay: 500ms;
    }
    &__seven{
        animation-delay: 600ms;
    }
    &__eight{
        animation-delay: 700ms;
    }
    &__nine{
        animation-delay: 800ms;
    }
    &__ten{
        animation-delay: 900ms;
    }
    
}

.rocker__animation{
    bottom: 30%;
    right: 30%;
    animation-duration: 3000ms;
                -webkit-transition: 3s;
                -moz-transition: 3s;
                -ms-transition: 3s;
                -o-transition: 3s;
                transition: 3s;
}

@media (max-width: 1200px){
    .team{
        &__title{
            width: 80%;
        }
    }
}

@media (max-width: 992px){
    .team{
        padding-top: 50px;
        &__title{
            padding-left: 0;
            font-size: 40px;
        }
    }
}

@media (max-width: 768px){
    .team{
        padding-top: 50px;
        &__title{
            padding-left: 0;
        }
    }
}

@media (max-width: 576px){
    .team{
        min-height: 600px;
        &__title{
            width: 67%;
            font-size: 15px;
            height: 60px;
            span{
                max-height: 17px;
            }
        }
        &__two{
            width: initial;
        }
        &__list{
            padding-left: 0;
            li{
                font-size: 13px;
            }   
        }
        &__rocket{
            width: 250px;
        }
    }
    .rocker__animation{
        bottom: 20%;
        right: 20%;
        animation-duration: 3000ms;
                    -webkit-transition: 3s;
                    -moz-transition: 3s;
                    -ms-transition: 3s;
                    -o-transition: 3s;
                    transition: 3s;
    }
}
